*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding-top: 70px;
    font-family: 'Montserrat',cursive;
    background: #403B4A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E7E9BB, #403B4A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E7E9BB, #403B4A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.para{
    width: 90%;
    margin-left:5.5% ;
    margin-top:3%;
    letter-spacing: 1.1px;
}

.fa-bars{
    position: fixed;
    top: 10px;
    right: 10px;
    color: #0099F7
}

.fa-times{
    position: fixed;
    top: 10px;
    right: 10px;
    color: #fff;

}

.contain label:nth-of-type(1) {
    z-index: 2;
}
 

.navigation0 .nav li a{ 
    visibility: hidden;
}


.navigation{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: ease-in-out 1s;
    height: 100px;
    box-shadow: 2px 4px 8px black;
    opacity:.7;
    z-index: 1;

}




.contain label{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 30px;
    margin-top: 10%;
    margin-left: 2%;
    color: #0099F7;
}






.navigation li{
    list-style: none;
    text-transform: uppercase;
    font-size: 20px;
   
}

.navigation .logo{
    flex:1 1 auto;
    text-transform: uppercase;
    font-size: 35px;
    text-decoration: none;
    margin-left: 10%;
    color: white;
    
}

.nav li a{
    padding: 15px;
    padding-left: 20px ;
    padding-right: 20px;
    margin: 5px;
    text-decoration: none;
    color: white;
    border-radius: 1px;
    font-weight:100;

}


.nav li a:hover{
    color: black;
    background: #E55D87;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5FC3E4, #E55D87);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5FC3E4, #E55D87); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   
}


.banner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.h1{
    display: block;
    text-align: center;
    margin-top: 8%;
    letter-spacing: 3px;
    font-size: 20px;
}

.xplore{
    display: flex;
    justify-content: center;
    align-items: center;
}


.sec1{
    margin-top: 4%;
    text-align: center;
    position: relative;
}

.sec1 img{
    
    width: 20%;
    border-radius: 150px;
    margin: 2%;
}

.sec2{
    overflow: hidden;
}

.maincontent{
    width: 43%;
    margin-top: 4%;
    margin-left: 2%;
    background-color: #232526;
    padding: 2%;
    float: left;
}
.maincontent h1{
    color: white;
}

.sec2 .maincontent p  {
    color: white;
    margin-top: 2%;
}


.seccontent{
    margin-top: 4%;
    width: 50%;
    float: right;
    position: relative;
}

.seccontent img{
    width: 95%;
    
}

.seccontent h1{
    position: relative;
    top: 0;
}

.seccontent h1{
    margin-left: 2%;
}

.p1{
    width: 95%;
    background-image: url("  ../img/p1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 240px;
    margin-bottom: 1%;
}

.p2{
    width: 95%;
    background-image: url("  ../img/p2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 245px;
    margin-bottom: 1%;

}


.p3{
    width: 95%;
    background-image: url("  ../img/p3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 243px;

}


.sec3{
    margin-top: 6%;
    display: flex;
    justify-content: space-evenly;
    background: #0099F7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F11712, #0099F7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F11712, #0099F7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


#box {
    width: 20%;
   margin: 0 auto;
   margin-top: 50px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    margin: 30px;
    padding-bottom: 30px;
    transition: 0.3s;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

#box img{
    width: 90%;
    border-radius: 5px;
    
}

#box p{
    font-size: 19px;
    text-align: start;
    
    margin-left: 20px;
}

#box a {
    padding: 15px 40px 15px 40px;
    text-decoration: none;
    color: white;
    background-color: #e74c3c;
    border-radius: 5px;
}


#box:hover {
    transform: scale(1.1);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  }

ul li .fas{
    display: none;
}




@media screen and (max-width:1125px){

      .p1 ,.p2,.p3 {
        margin-left: 2.2%;
    }

    #box{
        width: 40%;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 30px;}

        
    .sec1 img{
        width: 35%;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 30px;
        border-radius: 200px;
    }


}


@media screen and (max-width:600px){




    #box{
        width: 60%;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    
    .sec1 img{
        width: 80%;
        margin-top: 50px;
        margin-bottom: 30px;
        border-radius: 250px;
    }



}




.sec4{
margin-top: 4%;    
}

footer{
    width: 100%;
    padding: 5%;
    background-color: #404345;
    text-align: center;
}


input{
    visibility: hidden;
}


@media screen and (min-width:1125px){

    .fa-bars,.fa-times{
        visibility: hidden;
    }   

    
.xplore img{

    width: 95%;
    margin-top: 3%;
    box-shadow: 5px 5px 10px black;
}
    
}

@media screen and (max-width:1125px){

    
  .navigation0  .nav li a{ 
    visibility: visible;
}
    
.navigation0{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100vw;
    height: 70vh;
    position: fixed;
    top: 0;
    right: 0;
    transition: ease-in-out 1s;
    z-index: 2;
}

.nav li a {
    padding-left: 100px;
    padding-right: 100px;
}
.navigation0 li {
    font-size: 25px;
    margin-top: 10px ;
    margin-bottom: 10px; 
}

.nav{
    flex-direction: column;
}



  .navigation  .nav li a{ 
        visibility: hidden;
    }


input[type="checkbox"]:checked + .navigation0 {
    top: 0;
    right: -100%;
    width: 0;
    opacity: 0%;
      transform: rotate(360deg);
    }


 #home  {
    padding-right: 125px;
}
#tech{
    padding-right: 130px;
}

   .sec1 img{
       margin-right: 4%;
   }

    .sec2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .maincontent , .seccontent{
        text-align: center;
        width: 80%;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 30px;}

        
    .sec2{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        flex-direction: column;
    }


    .maincontent , .seccontent{
        text-align: center;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 30px;}

    .xplore img{
        width: 100%;
    }


}




html {
    scroll-behavior: smooth;
  }


